<div class="jewelry-lab-page">
  <div class="lab-header">
    <div class="slider-box">
      <slider
        height="100%"
        animation="fade"
        :interval="5000"
        :speed="1000">
        <slider-item v-for="slide in slides"
          :style="{
            backgroundImage: 'url(' + slide.url + ')',
            backgroundSize: 'cover',
            backgroundPosition: '50% 50%'
          }">
        </slider-item>
      </slider>
    </div>
    <div class="actions">
      <div class="actions-in">
        <div class="logreg">
          <a href="" class="login">Log In</a>
          <span>/</span>
          <a href="" class="register">Register</a>
        </div>
        <div class="lang-switch">
          <a class="en" :class="{ active: locale === 'en' }" @click="locale = 'en'">EN</a>
          <a class="zh" :class="{ active: locale === 'zh' }" @click="locale = 'zh'">CH</a>
        </div>
      </div>
    </div>
    <div class="float-menu">
      <div class="menu-content">
        <div class="logo"><img src="../../assets/logo-lab.png" alt=""></div>
        <ul>
          <li><a class="active" href="">Short Term Program</a></li>
          <li><a href="">Research</a></li>
          <li><a href="">Environment</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="page-content page">
    <div class="top-text" v-html="content"></div>

    <div class="middle-info">
      <div class="item" v-for="item in midInfo">
        <div class="photo" :style="{ backgroundImage: 'url(' + item.url + ')' }"></div>
        <p class="title">{{item.title}}</p>
        <p class="text">{{item.content}}</p>
      </div>
    </div>

    <event-preview :data="event" v-for="event in eventList"></event-preview>
    <pager></pager>
  </div>

  <nocc-footer></nocc-footer>
</div>
