.jewelry-lab-page {
  margin-bottom: 115px;
  overflow: hidden;
  .lab-header {
    position: relative;

    .slider-box {
      width: 100%;
      height: 558px;
      .slider-btn {
        display: none;
      }
      .slider-indicator-icon {
        margin: 0 5px;
        width: 5px;
        height: 5px;
        background: rgba(255, 255, 255, 0.7);
      }
      .slider-indicator-active {
        background: rgba(255, 255, 255, 1);
      }
    }

    .float-menu {
      z-index: 200;
      position: absolute;
      left: 0;
      top: 112px;
      width: 100%;
      height: 75px;
      background: rgba(231,34,63,0.85);
    }
  }
}
