<div class="mission-page page">

  <div class="slider-box">
    <slider v-if="slides.length > 0"
      id="2"
      height="100%"
      animation="fade"
      :interval="5000"
      :speed="1000">
      <slider-item v-for="slide in slides"
        :style="{
          backgroundImage: 'url(' + slide.url + ')',
          backgroundSize: 'cover',
          backgroundPosition: '50% 50%'
        }">
      </slider-item>
    </slider>
  </div>

  <div class="content" v-if="locale == 'zh'" v-html="text"></div>
  <div class="content" v-if="locale == 'en'" v-html="text_en"></div>
</div>
