#app {
}

.page {
  width: 960px;
  margin: auto;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .page {
    width: 100%;
    min-width: 370px;
  }
}

.slider-box {
  background-color: #f4f4f4;
}
