<div class="header">
  <img class="logo"  src="../../assets/logo.png" alt="" @click="goHome">
  <div class="right">
    <div class="actions">
      <div class="logreg">
        <a href="" class="login">Log In</a>
        <span>/</span>
        <a href="" class="register">Register</a>
      </div>
      <div class="search">
        <input type="text" name="name" value="">
        <a href=""></a>
      </div>
      <div class="lang-switch">
        <a href="" class="en active">EN</a>
        <a href="" class="zh">CH</a>
      </div>
    </div>
    <ul class="menu">
      <li>
        <router-link to="/mission">Mission</router-link>
      </li>
      <li class="has-sub">
        <router-link to="/events">Event</router-link>
        <ul class="sub-menu">
          <li><router-link to="/events/forum">Forum</a><a class="arrow"></router-link></li>
          <li><router-link to="/events/lecture">Leclure</a><a class="arrow"></router-link></li>
          <li><router-link to="/events/workshop">WorkShop</a><i class="arrow"></router-link></li>
        </ul>
      </li>
      <span></span>
      <li class="lab has-sub">
        <router-link to="/jewelry-lab">lab</router-link>
        <ul class="sub-menu">
          <li><router-link to="/jewelry-lab">Jewelry Lab</a><a class="arrow"></router-link></li>
          <li><a href="#">Glass Lab</a><a class="arrow"></a></li>
          <li><a href="#">Perfume Lab</a><a class="arrow"></a></li>
        </ul>
      </li>
      <span></span>
      <li>
        <a href="#">Cooperation</a>
      </li>
      <li class="about has-sub">
        <a href="#">About</a>
        <ul class="sub-menu">
          <li><a href="#">Faculty</a><a class="arrow"></a></li>
          <li><a href="#">Alumni</a><a class="arrow"></a></li>
          <li><a href="#">Contact</a><a class="arrow"></a></li>
        </ul>
      </li>
      <span></span>
    </ul>
  </div>
</div>
