<div class="header">
  <router-link class="logo" to="/"></router-link>
  <div class="right">
    <div class="actions">
      <div class="logreg">
        <a href="" class="login">{{$t('message.login')}}</a>
        <span>/</span>
        <a href="" class="register">{{$t('message.register')}}</a>
      </div>
      <div class="search">
        <input type="text" name="name" value="">
        <a href=""></a>
      </div>
      <div class="lang-switch">
        <a class="en" :class="{ active: locale === 'en' }" @click="locale = 'en'">EN</a>
        <a class="zh" :class="{ active: locale === 'zh' }" @click="locale = 'zh'">CH</a>
      </div>
    </div>
    <div class="small-menu">
    </div>
    <ul class="menu">
      <li>
        <router-link to="/mission">{{$t('router.mission')}}</router-link>
      </li>
      <li class="has-sub">
        <router-link to="/events">{{$t('router.event')}}</router-link>
        <ul class="sub-menu">
          <li><router-link to="/events/forum">{{$t('router.forum')}}</a><a class="arrow"></router-link></li>
          <li><router-link to="/events/lecture">{{$t('router.lecture')}}</a><a class="arrow"></router-link></li>
          <li><router-link to="/events/workshop">{{$t('router.workshop')}}</a><i class="arrow"></router-link></li>
        </ul>
      </li>
      <span></span>
      <li class="lab has-sub">
        <router-link to="/jewelry-lab">{{$t('router.lab')}}</router-link>
        <ul class="sub-menu">
          <li><a target="_blank" href="/jewelry-lab">{{$t('router.jewelry_lab')}}</a><a class="arrow"></a></li>
          <li><a href="#">{{$t('router.glass_lab')}}</a><a class="arrow"></a></li>
          <li><a href="#">{{$t('router.perfume_lab')}}</a><a class="arrow"></a></li>
        </ul>
      </li>
      <span></span>
      <li>
        <a href="#">{{$t('router.cooperation')}}</a>
      </li>
      <li class="about has-sub">
        <a href="#">{{$t('router.about')}}</a>
        <ul class="sub-menu">
          <li><router-link to="/faculty">{{$t('router.faculty')}}<a class="arrow"></a></router-link></li>
          <li><a href="#">{{$t('router.alumni')}}</a><a class="arrow"></a></li>
          <li><a href="#">{{$t('router.contact')}}</a><a class="arrow"></a></li>
        </ul>
      </li>
      <span></span>
    </ul>
  </div>
</div>
