<div class="footer">
  <div class="page">
    <div class="nav-in">
      <a class="home">{{$t('router.home')}}</a>
      <a class="link">{{$t('router.tju')}}</a>
      <a class="link">{{$t('router.join_us')}}</a>
      <a class="link">{{$t('router.contact')}}</a>
    </div>
    <div class="nav-out">
      <img src="../../assets/footer-logo.png" alt="">
      <div class="link-title">{{$t('router.link')}}</div>
      <ul>
        <li><a href="">{{$t('router.DI')}}</a></li>
        <li><a href="">{{$t('router.jal')}}</a></li>
        <li><a href="">{{$t('router.smg')}}</a></li>
        <li><a href="">{{$t('router.klimt')}}</a></li>
      </ul>
      <span>{{$t('router.designed_by')}}</span>
    </div>
    <div class="copyright">
      {{$t('router.copyright')}}
    </div>
  </div>
</div>
