<div class="footer">
  <div class="nav-in">
    <a class="home">Home</a>
    <a class="link">TJU</a>
    <a class="link">Join Us</a>
    <a class="link">Contact</a>
  </div>
  <div class="nav-out">
    <img src="../../assets/footer-logo.png" alt="">
    <div class="link-title">Link</div>
    <ul>
      <li><a href="">College of Design innovation Tongji University</a></li>
      <li><a href="">Jewelry Accessory Lab</a></li>
      <li><a href="">Shanghai Museum of Glass</a></li>
      <li><a href="">Klimt.com</a></li>
    </ul>
    <span>Designed and hosted by: </span>
  </div>
  <div class="copyright">
    ©2016 NEW CEIER of CONIEMPORARY JEWELRY and FASHION CULURE 沪ICP备00000000号 All Rights Reserved.
  </div>
</div>
