<div class="event-page page" v-if="event">
  <img class="post-image" :src="event.poster[0].url" alt="">

  <p class="title" v-if="locale == 'zh'">{{event.title}}</p>
  <p class="title" v-if="locale == 'en'">{{event.title_en}}</p>

  <p class="content" v-if="locale == 'zh'" v-html="event.content"></p>
  <p class="content" v-if="locale == 'en'" v-html="event.content_en"></p>

  <div class="attached-image" v-for="img in event.images">
    <img class="post-image" :src="img.url" alt="">
    <p class="description" v-if="locale == 'zh'">{{img.description}}</p>
    <p class="description" v-if="locale == 'en'">{{img.description_en}}</p>
  </div>
</div>
