<div class="user-card">
  <div class="image" :style="{ backgroundImage: 'url(' + data.photo + ')' }"></div>
  <div class="content">
    <p class="position" v-show="locale == 'zh'">{{data.position}}</p>
    <p class="position" v-show="locale == 'en'">{{data.position_en}}</p>
    <p class="title" v-show="locale == 'zh'">{{data.title}}</p>
    <p class="title" v-show="locale == 'en'">{{data.title_en}}</p>
    <p class="email">{{data.email}}</p>
    <p class="text" v-show="locale == 'zh'">{{data.description}}</p>
    <p class="text" v-show="locale == 'en'">{{data.description_en}}</p>
  </div>
</div>
